* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.wb_content {
  margin: auto;
  width: 1080px;
  .banner {
    width: 100%;
    border-radius: 10px;
  }
}

// 路由切换动画效果
// .page-enter-active,
// .page-leave-active {
//   transition: opacity .3s;
// }

// .page-enter,
// .page-leave-active {
//   opacity: 0;
// }